<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">AppDon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_acceuil') }}">Acceuil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">Acceuil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                {% endif %}
                {#<li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>#}
            </ul>
            <div class="d-flex nav" id="connexion">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_user_profil', {'id': app.user.id}) }}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_user_new') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>