
{% block body %}
    <h1>Campagne en cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campagne in campagnes %}
            <tr>
                <td>{{ campagne.id }}</td>
                <td>{{ campagne.name }}</td>
                <td>{{ campagne.description }}</td>
                <td>
                    <a href="{{ path('app_campagne_show', {'id': campagne.id}) }}">show</a>
                    {% if app.user %}
                    <a href="{{ path('app_campagne_edit', {'id': campagne.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_campagne_new') }}">Create new</a>
    {% endif %}
{% endblock %}
